<div class="container">

  <div id="new-post-form">
    <%= render "addpost" %>
  </div>

  <div class="new-post"></div>

  <div id="post-index">
    <%= render "index" %>
  </div>

</div>

<div id="post-modal" class="modal fade"></div>
